/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
    display: table;
    width: 100%;
    height: 100%; /* For at least Firefox */
    min-height: 100%;
}
.site-wrapper-inner {
    display: table-cell;
    vertical-align: middle;
}
.cover-container {
    margin-right: auto;
    margin-left: auto;
}

/* Padding for spacing */
.inner {
    padding: 30px;
}

/*
 * Cover
 */

.cover {
    padding: 0 20px;
}
.cover .btn-lg {
    padding: 10px 20px;
    font-weight: bold;
}

.flipped {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: "FlipH";
    -ms-filter: "FlipH";
}

.freekick {
    border: 2px solid #e2e2e2;
    border-radius: 5px;
}

.selectedfreekick {
    border: 2px solid #75caeb;
    border-radius: 5px;
}

.nohoverborder {
    font-size: 0.8em;
    text-wrap: normal;
    white-space: normal;
}

