<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="inner cover">
                <img src="/img/logosmall.png" alt="fuego logo">
                <div class="panel panel-primary col-xs-4 col-xs-offset-4">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Log In:</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" ng-show="flash">
                            {{flash}}
                            <br/>
                        </div>
                        <div class="alert alert-info" ng-show="loggedIn">
                            Already logged in as {{user.email}}. Please <a ng-click="doLogout()" style="cursor: pointer">logout</a> before continuing.
                            <br/>
                        </div>
                        <input type="email" ng-model="user.email" placeholder="E-mail" class="form-control">
                        <br/>
                        <input type="password" ng-model="user.pass" placeholder="Password" class="form-control">
                        <br/>
                        <button type="button" ng-click="doLogin()"
                                class="col-xs-4 col-xs-offset-4 btn btn-large btn-primary">Log In
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

