<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">
            <div class="inner cover">
                <div class="panel panel-primary col-xs-4 col-xs-offset-4">
                    <div class="panel-heading">
                        <h3 class="panel-title text-center">Register:</h3>
                    </div>
                    <div class="panel-body">
                        <div class="alert alert-danger" ng-show="flash">
                            {{flash}}
                        </div>
                        <br/>

                        <form class="form-horizontal"">
                            <input type="text" ng-model="user.fullName" placeholder="Full Name" class="form-control"
                                   required>
                            <br/>
                            <input type="email" ng-model="user.email" placeholder="E-mail" class="form-control" required>
                            <br/>
                            <input type="password" ng-model="user.pass" placeholder="Password" class="form-control" required>
                            <br/>
                            <button type="submit" class="col-xs-4 col-xs-offset-4 btn btn-large btn-primary" ng-click="doRegister()">Register
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>