<div class="container-fluid" style="padding-top:100px">
	<div class="row">
		<div class="col-xs-10">
			<h3>{{betArray.betDescription}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6" ng-repeat="team in teams" style="border: 1px solid blue; min-height: 300px;">
			<button type="button" class="btn btn-info" ng-click="disableTheRest(); team.active = !team.active">{{team.teamName}}</button> 
			<div class="row">
				<div class="col-xs-6" ng-repeat="player in team.players" ng-show="team.active">
					<button type="button" class="btn btn-warning" 
						ng-click="betArray.betDescription = 'Corner: '+player.playerName+' from '+team.teamName+' is kicking.'; allowBet();">{{player.playerName}}</button>
				</div>	
			</div>
		</div>
	</div>
	<div class="row" ng-init="betArray.betOptions.push('goal','miss','corner again')" style="border: 1px solid blue; margin-top: 10px;">
		<div class="col-xs-1" ng-repeat="option in betArray.betOptions">
			<button type="button" class="btn btn-primary" ng-disabled="disableOutcomes">{{option}}</button>
		</div>
	</div>
</div>