<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse navbar-responsive-collapse">
        <ul class="nav navbar-nav navbar-left" style="margin-left:50px">
            <li class="dropdown">
                <a data-toggle="dropdown" class="dropdown-toggle">Ongoing Long Bets <b class="caret"></b> <span
                        class="badge" ng-show="longBetsLength > 0">{{longBetsLength}}</span></a>
                <ul class="dropdown-menu" style="width:250px">
                    <li><span class="col-xs-10" style="text-align: center; border-right:1px inset;padding-bottom: 10px"><b>Bet
                        Description</b></span><span style="top:4px;padding-bottom: 10px"
                                                    class="col-xs-2 glyphicon glyphicon-time"></span></li>
                    <li ng-repeat="bet in longBets"><span class="col-xs-10" style="border-right:1px inset"><a
                            ng-click="showLongBetModal(bet.bidEntity)" style="cursor:pointer">{{bet.bidEntity.bidDescription}}</a></span><span
                            class="col-xs-2">{{bet.ttl}}</span></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
            <li class="active" style="margin-top:15px; margin-right:20px"><b>Game Score:</b></li>
            <li>
                <div class="row" style="margin-top:8px;">
                    <div class="col-xs-1" style="margin-top:8px; padding-right:0px;padding-left:0px;text-align: center"><b>H</b></div>
                    <div class="col-xs-3" style="padding-left:0px; padding-right: 0px">
                        <input type="number" class="form-control" placeholder="H" ng-model="gameScore.home">
                    </div>
                    <div class="col-xs-1" style="margin-top:8px; padding-right:0px;padding-left:0px;text-align: center"><b> : </b></div>
                    <div class="col-xs-3" style="padding-left:0px; padding-right: 0px"><input type="number" placeholder="A" class="form-control" ng-model="gameScore.away">
                    </div>
                    <div class="col-xs-1" style="margin-top:8px; padding-right:0px;padding-left:0px;text-align: center"><b>A</b></div>
                    <button type="button" class="btn btn-default" style="margin-right:20px"
                            ng-click="updateScore()"><span class="glyphicon glyphicon-open"></span></button>
                </div>
            </li>
            <li>
                <button type="button" class="btn btn-default" style="margin-top:8px;margin-right:20px"
                        ng-click="closeGame()"><span class="glyphicon glyphicon-off"></span> CLOSE GAME
                </button>
            </li>
        </ul>
    </div>
</div>
<div class="container-fluid" style="padding-top:100px">
    <div class="row">
        <div class="col-xs-2" style="padding-left:0px;text-align:center">
            <b><span class="glyphicon glyphicon-arrow-down"></span> Choose an event</b>
            <button type="button" class="btn btn-block"
                    ng-class="{'btn-default':currentEvent.eventName!=item.eventName, 'btn-info':currentEvent.eventName==item.eventName}"
                    ng-disabled="betOpen"
                    style=" margin-bottom: 10px;"
                    ng-click="changeEventTemplate(item)" ng-repeat="item in events" ng-if="!item.alwaysLast">
                {{item.eventName}}
            </button>
            <button type="button" class="btn btn-block"
                    ng-class="{'btn-default':currentEvent.eventName!=events.customEvent.eventName, 'btn-info':currentEvent.eventName==events.customEvent.eventName} "
                    style=" margin-bottom: 10px;"
                    ng-disabled="betOpen"
                    ng-click="changeEventTemplate(events.customEvent)">{{events.customEvent.eventName}}
            </button>
        </div>
        <div class="col-xs-10">
            <team-selector ng-if="currentEvent.viewElements.eventTeamSelector"
                           teams="teams"
                           selection-count="currentEvent.viewElements.eventTeamSelector.selectionCount"
                           ng-model="eventDescription"></team-selector>
            <p align="center" ng-show="currentEvent.viewElements.distanceParamInput"><b>Distance</b></p>

            <div class="btn-group btn-group-justified col-xs-4" style="padding-bottom: 10px"
                 ng-if="currentEvent.viewElements.distanceParamInput">
                <a class="btn btn-lg"
                   ng-class="{'btn-default': eventDescription.distance != 20, 'btn-info': eventDescription.distance == 20}"
                   ng-click="eventDescription.distance = 20">20m</a>
                <a class="btn btn-lg"
                   ng-class="{'btn-default': eventDescription.distance != 30, 'btn-info': eventDescription.distance == 30}"
                   ng-click="eventDescription.distance = 30">30m</a>
                <a class="btn btn-lg"
                   ng-class="{'btn-default': eventDescription.distance != 40, 'btn-info': eventDescription.distance == 40}"
                   ng-click="eventDescription.distance = 40">40m</a>
                <a class="btn btn-lg"
                   ng-class="{'btn-default': eventDescription.distance != 50, 'btn-info': eventDescription.distance == 50}"
                   ng-click="eventDescription.distance = 50">50m</a>
                <a class="btn btn-lg"
                   ng-class="{'btn-default': eventDescription.distance != 70, 'btn-info': eventDescription.distance == 70}"
                   ng-click="eventDescription.distance = 70">70m</a>
            </div>
            <substitution-options ng-if="currentEvent.viewElements.substitutionOptions"
                                  team="teamsToPlayers[eventDescription.teamName]"
                                  warming-player="eventDescription.playerName"
                                  ng-model="currentEvent.eventOptions"></substitution-options>
            <custom-bet ng-if="currentEvent.viewElements.customBet"
                        question="eventDescription.question"
                        time="currentEvent.time"
                        ng-model="currentEvent.eventOptions"></custom-bet>
            <div class="well well-lg col-xs-8 col-xs-offset-2" ng-show="currentEvent && !showResults">
                <p align="center" class="text-primary" style="font-size:larger;font-weight:bold"
                   ng-show="currentEvent.toString().indexOf('undefined') == -1">{{currentEvent.toString()}}</p>
                <br/>

                <p align="center"><b>Entry Amount</b></p>

                <div class="btn-group btn-group-justified">
                    <a class="btn" ng-repeat="amount in amounts"
                       ng-class="{'btn-default':bidEntity.entryAmount != amount, 'btn-info':bidEntity.entryAmount == amount}"
                       ng-click="setEntryAmount(amount)">${{amount}}</a>
                </div>
                <br/><br/>

                <div style="padding-bottom:10px">
                    <button class="col-xs-4 col-xs-offset-2 btn btn-success btn-lg"
                            ng-disabled="currentEvent.toString().indexOf('undefined') > -1 || currentEvent.eventOptions.length < 2 || bidEntity.entryAmount == 0 || betOpen"
                            ng-click="openBet()">Open
                        Bet
                    </button>
                    <button class="col-xs-4 btn btn-danger btn-lg" style="margin-left:5px" ng-disabled="!betOpen"
                            ng-click="closeBet()">Close
                        Bet
                    </button>
                </div>
            </div>
            <div class="well well-lg col-xs-8 col-xs-offset-2"
                 ng-show="currentEvent.eventOptions.length > 0 && (!currentEvent.time || currentEvent.time == 0)">
                <bet-options
                        publish-action="publishWinningResult" options="currentEvent.eventOptions"
                        ng-disabled="!showResults"></bet-options>
            </div>
        </div>
    </div>
</div>
<!--<pre>event description: {{currentEvent|json}}</pre>-->
<!--<pre>selectedPlayer:{{eventDescription|json}}</pre>-->
<!--<pre>selectedOption:{{selectedOption|json}}</pre>-->
<!--<pre>{{bidEntity|json}}</pre>-->
<!--<pre>{{eventDescription.eventLength|json}}</pre>-->
<!--<pre>{{longBetsLength}}</pre>-->
</div>