<div class="btn-group btn-group-justified">
    <a href="#/" class="btn btn-primary active"><span class="glyphicon glyphicon-transfer"></span> Assign Games</a>
    <a ng-click="logout()" class="btn btn-default"><span class="glyphicon glyphicon-log-out"></span> Logout</a>
</div>
<form class="form-horizontal" ng-submit="startGame()">
    <fieldset>
        <legend>Enter game details</legend>
        <div class="form-group">
            <label for="gameLeague" class="col-lg-2 control-label">League</label>
            <div class="col-lg-10">
                <select id="gameLeague" class="form-control" ng-model="game.gameLeague" ng-options="league for league in leagues"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="teams" class="col-lg-2 control-label">Teams</label>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="teams" ng-model="team1" placeholder="Team 1" typeahead="team as team.teamName for team in availableTeams | filter:{teamName:$viewValue, teamLeagues: game.gameLeague}">
            </div>
            <div class="col-lg-5">
                <input type="text" class="form-control" id="teams2" ng-model="team2" placeholder="Team 2" typeahead="team as team.teamName for team in availableTeams | filter:{teamName:$viewValue, teamLeagues: game.gameLeague}">
            </div>
        </div>
        <div class="form-group">
            <label for="location" class="col-lg-2 control-label">Location</label>
            <div class="col-lg-10">
                <!--<select id="location" class="form-control" ng-model="game.location" ng-options="stadium.stadiumName as stadium.teamName for stadium in stadiums | filter: filterStadiums"></select>-->
                <input type="text" class="form-control" id="location" ng-model="game.location" placeholder="Type to search" typeahead="stadium.stadiumName as stadium.teamName for stadium in stadiums | filter: {stadiumName:$viewValue}">
            </div>
        </div>
        <div class="form-group">
            <label for="date" class="col-lg-2 control-label">Date and Time</label>
            <div class="col-lg-5">
                <input type="date" class="form-control" id="date" ng-model="date">
            </div>
            <div class="col-lg-5">
                <input type="time" class="form-control" id="time" ng-model="time">
            </div>
        </div>
        <div class="form-group">
            <div class="col-lg-10">
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </div>
    </fieldset>
</form>