
<div ng-if="left" style="margin-left:15px">
    <img src="/img/freeKicks/1.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 0, 'freekick': selectedOption !== 0}" ng-click="setOption(0)"></a>
    <img src="/img/freeKicks/2.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 1, 'freekick': selectedOption !== 1}" ng-click="setOption(1)"></a>
    <img src="/img/freeKicks/3.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 2, 'freekick': selectedOption !== 2}" ng-click="setOption(2)"></a>
    <img src="/img/freeKicks/4.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 3, 'freekick': selectedOption !== 3}" ng-click="setOption(3)"></a>
    <img src="/img/freeKicks/placeholder.png" style="width:24%;padding:2px"></a>
    <img src="/img/freeKicks/placeholder.png" style="width:24%;padding:2px"></a>
    <img src="/img/freeKicks/placeholder.png" style="width:24%;padding:2px"></a>
    <img src="/img/freeKicks/5.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 4, 'freekick': selectedOption !== 4}" ng-click="setOption(4)"></a>
    <img src="/img/freeKicks/9.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 8, 'freekick': selectedOption !== 8}" ng-click="setOption(8)"></a>
    <img src="/img/freeKicks/8.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 7, 'freekick': selectedOption !== 7}" ng-click="setOption(7)"></a>
    <img src="/img/freeKicks/7.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 6, 'freekick': selectedOption !== 6}" ng-click="setOption(6)"></a>
    <img src="/img/freeKicks/6.png" style="cursor:pointer;width:24%;padding:2px" class="flipped" ng-class="{'selectedfreekick': selectedOption === 5, 'freekick': selectedOption !== 5}" ng-click="setOption(5)"></a>
</div>
<div ng-if="!left" style="margin-left:15px">
    <img src="/img/freeKicks/4.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 3, 'freekick': selectedOption !== 3}" ng-click="setOption(3)"></a>
    <img src="/img/freeKicks/3.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 2, 'freekick': selectedOption !== 2}" ng-click="setOption(2)"></a>
    <img src="/img/freeKicks/2.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 1, 'freekick': selectedOption !== 1}" ng-click="setOption(1)"></a>
    <img src="/img/freeKicks/1.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 0, 'freekick': selectedOption !== 0}" ng-click="setOption(0)"></a>
    <img src="/img/freeKicks/5.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 4, 'freekick': selectedOption !== 4}" ng-click="setOption(4)"></a>
    <img src="/img/freeKicks/placeholder.png" style="width:24%;padding:2px"></a>
    <img src="/img/freeKicks/placeholder.png" style="width:24%;padding:2px"></a>
    <img src="/img/freeKicks/placeholder.png" style="width:24%;padding:2px"></a>
    <img src="/img/freeKicks/6.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 5, 'freekick': selectedOption !== 5}" ng-click="setOption(5)"></a>
    <img src="/img/freeKicks/7.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 6, 'freekick': selectedOption !== 6}" ng-click="setOption(6)"></a>
    <img src="/img/freeKicks/8.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 7, 'freekick': selectedOption !== 7}" ng-click="setOption(7)"></a>
    <img src="/img/freeKicks/9.png" style="cursor:pointer;width:24%;padding:2px" ng-class="{'selectedfreekick': selectedOption === 8, 'freekick': selectedOption !== 8}" ng-click="setOption(8)"></a>
</div>